[Unit]
Description=Docker Compose for monitoring
# Assumes Docker service is running before this service starts
After=time-sync.target
Requires=docker.service

[Service]
Type=oneshot
# RemainAfterExit=yes is crucial for 'oneshot' type services that start background processes
RemainAfterExit=yes
WorkingDirectory=/root
# Use absolute paths for docker and docker compose commands
ExecStart=/usr/bin/docker compose up -d --remove-orphans
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target
